*{
	margin: 0;
	border: 0;
	padding: 0;
	box-sizing: border-box;
}

.logo{
    width: 200px;
    
}

.navbar{
    max-width: 1000px;
	height: 13vh;
    background: rgb(203, 38, 42);
    margin: auto;
}


.menu{
    width: 60%;
    height: 100%;
}

.menu ul{
    height: 100%;
    margin:0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    
}

.menu ul li{

    height: 100%;
    display: flex;
    align-items: center;
}



.menu a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.menu a:hover{
	color:#a47db6;
	font-weight: bold;
	text-decoration: none;
}

.cerrarsesion{
    color: rgb(203, 38, 42);
    width: 130px;
    height: 45px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    margin-right: 15px;
    
    
}